html{
	font-family: 'Proxima Nova', Helvetica, sans-serif;
}

body{
	padding: 25px 0;
}

#contributions{
	width: 625px;
	border-bottom: 1px solid #E6E6E6;
	margin: 0 auto;
}

#contributions h3{
	border-top: 1px solid #E6E6E6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	margin: 0;
	width: 125px;
	padding: 10px 15px;
}

#arrow-up{
	display: none;
	height: 50px;
	width: 50px;
	opacity: .5;
	position: fixed;
	top: 20px;
	right: 40px;
}

#arrow-up:hover{
	opacity: 1;
	cursor: pointer;
}

#load-button{
	text-decoration: none;
	display: none;
}

a{
	text-decoration: none;
	color: #0077EE;
}

a:hover{
	color: #EE3928;
}

.inline-bl{
	display: inline-block;
}

#comments-container{
	width: 625px;
	margin: 0 auto;
}

#comments{
	padding-left: 0;
}

.comment{
	background-color: #E7E7E7;
	list-style: none;
	margin-bottom: 20px;
}

.comment.thread{
	margin-bottom: 1px;
}

.replies li.comment{
	background-color: #F5F5F5;
}

.comment-content{
	padding: 10px;
}

.avatar{
	margin-right: 5px;
}

.post-info a{
	font-size: 12px;
}

.post-info p{
	margin-top: 2px;
	font-size: 9px;
	color: #8A8A8A;
}

.blurb{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2em;
	font-size: 16px;
	font-weight: 300;
}

.reaction-icon{
	height: 12px;
}

.reactions p{
	font-size: 11px;
	font-weight: 600;
	color: #9A9A9A;
	margin: 0 5px 1px 5px;
	vertical-align: middle
}

#load-button{
	display: none;
	width: 625px;
	text-align: center;
	color: black;
	border: 1px solid black;
	font-size: 16px;
	line-height: 16px;
	padding: 15px 20px;
	margin: 0 auto;
}

#load-button:hover{
	background-color: #EE3322;
	color: white;
	border: 1px solid #EE3322;
}